.formikInput {
  margin-bottom: 12px;
  .error {
    opacity: 0;
    color: #f44336 !important;
    font-size: 12px;
    text-align: left;
    margin-top: 4px;
    transition: .25s;

    &.visible {
      opacity: 1;
    }
  }
}