.registration {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left bottom, #A18CD1, #FBC2EB);
  display: flex;
  justify-content: center;
  align-items: center;

  .step-wrapper {
    max-width: 800px;
    background: #000000;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);

    > div {
      width: 50%;
    }

    .image-block {
      height: 100%;
      max-height: 600px;

      > img {
        height: 100%;
        width: 100%;
        -webkit-border-radius: 8px 0 0 8px;
        -moz-border-radius: 8px 0 0 8px;
        border-radius: 8px 0 0 8px;
      }
    }
  }
}

.form-block {
  padding: 24px;
  .buttons-block {
    height: 10%;
  }

  .step-body {
    height: 80%;
  }
}

.step-body {
  * {
    color: #FFFFFF;
  }


  .MuiInputBase-root,
  .MuiInputLabel-animated,
  .MuiInputLabel-root.Mui-focused {
    color: #FFFFFF;
  }

  .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-notchedOutline:hover{
    border-color: #FFFFFF !important;
  }
}